// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/* IOTRouter EC100 board configuration. */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>

/* Reservations must precede the root nodes in the included SoC tree. */
/memreserve/ 0x00063000 0x0000b000;

#include "rk3506.dtsi"

/* Use the EC100 CPU operating-point table. */
/delete-node/ &cpu0_opp_table;

/ {
    cpu0_opp_table: cpu0-opp-table {
        compatible = "operating-points-v2";
        opp-shared;
        nvmem-cells = <&cpu_leakage>;
        nvmem-cell-names = "leakage";
        rockchip,pvtm-voltage-sel = <
            0 1584 0
            1585 1619 1
            1620 1654 2
            1655 1689 3
            1690 1724 4
            1725 1759 5
            1760 1794 6
            1795 9999 7
        >;
        rockchip,pvtm-pvtpll;
        rockchip,pvtm-offset = <0x18>;
        rockchip,pvtm-sample-time = <500>;
        rockchip,pvtm-freq = <1608000>;
        rockchip,pvtm-volt = <1000000>;
        rockchip,pvtm-ref-temp = <40>;
        rockchip,pvtm-temp-prop = <0 0>;
        rockchip,pvtm-thermal-zone = "soc-thermal";
        rockchip,grf = <&pvtpll_core>;
        rockchip,temp-hysteresis = <5000>;
        rockchip,low-temp = <10000>;
        rockchip,low-temp-min-volt = <900000>;

        opp-600000000 {
            opp-hz = /bits/ 64 <600000000>;
            opp-microvolt = <850000 850000 1000000>;
            clock-latency-ns = <40000>;
            opp-suspend;
            status = "okay";
        };
        opp-800000000 {
            opp-hz = /bits/ 64 <800000000>;
            opp-microvolt = <850000 850000 1000000>;
            clock-latency-ns = <40000>;
            status = "okay";
        };
        opp-1008000000 {
            opp-hz = /bits/ 64 <1008000000>;
            opp-microvolt = <850000 850000 1000000>;
            opp-microvolt-L0 = <875000 875000 1000000>;
            clock-latency-ns = <40000>;
            status = "okay";
        };
        opp-1200000000 {
            opp-hz = /bits/ 64 <1200000000>;
            opp-microvolt = <850000 850000 1000000>;
            opp-microvolt-L0 = <875000 875000 1000000>;
            clock-latency-ns = <40000>;
            status = "okay";
        };
    };
};

/ {
    model = "IOTRouter EC100 (Nerves)";
    compatible = "iotrouter,ec100", "rockchip,rk3506";

    aliases {
        serial0 = &uart0;
        /* Keep boot eMMC numbering independent of SD-card probe order. */
        mmc0 = &mmc;
        mmc1 = &sd_slot;
    };

    chosen {
        stdout-path = "serial0:115200n8";
        bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyS0,115200 rootwait ro";
    };

    memory@0 {
        device_type = "memory";
        reg = <0x00000000 0x20000000>;
    };

    reserved-memory {
        /delete-node/ drm-logo@0;
        /delete-node/ linux,cma;

        /* Inherit the vendor trust@0 reservation: base 0, size 0x62000.
         * The official small TEE does not require a dynamic TOS memory tag.
         */
    };

    leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&run_led_pin>;

        run {
            label = "ec100:run";
            /* Raw high/low control until LED polarity is verified on hardware. */
            gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
            default-state = "keep";
        };
    };

    gpio-keys {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&user_button_pin>;

        user {
            label = "User button";
            linux,code = <KEY_PROG1>;
            gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;
        };
    };

    external_watchdog: external-watchdog {
        compatible = "linux,wdt-gpio";
        pinctrl-names = "default";
        pinctrl-0 = <&external_watchdog_pin>;
        gpios = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
        hw_algo = "toggle";
        /* Provisional feeding budget, NOT a measured hardware timeout.
         * Linux normally feeds at half this interval (about 5 seconds).
         */
        hw_margin_ms = <10000>;
        always-running;
    };

    vcc12v_dc: vcc12v-dc {
        compatible = "regulator-fixed";
        regulator-name = "vcc12v_dc";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <12000000>;
        regulator-max-microvolt = <12000000>;
    };

    vcc_sys: vcc-sys {
        compatible = "regulator-fixed";
        regulator-name = "vcc_sys";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        vin-supply = <&vcc12v_dc>;
    };

    /* EC100 CPU rail: PWM0 channel 0, inverse polarity. */
    vdd_arm: vdd-arm {
        compatible = "pwm-regulator";
        pwms = <&pwm0_4ch_0 0 5000 1>;
        regulator-name = "vdd_arm";
        regulator-min-microvolt = <710000>;
        regulator-max-microvolt = <1207000>;
        regulator-init-microvolt = <1011000>;
        regulator-always-on;
        regulator-boot-on;
        regulator-settling-time-up-us = <250>;
        pwm-supply = <&vcc_sys>;
    };

    vcc_3v3: vcc-3v3 {
        compatible = "regulator-fixed";
        regulator-name = "vcc_3v3";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        vin-supply = <&vcc_sys>;
    };

    mmcio: mmcio-gpio-regulator {
        compatible = "regulator-gpio";
        regulator-name = "mmcio-gpio-supply";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <3300000>;
        pinctrl-names = "default";
        pinctrl-0 = <&mmcio_voltage_pin>;
        gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
        gpios-states = <0>;
        states = <3300000 1>, <1800000 0>;
        startup-delay-us = <100000>;
    };

    vcc5v0_otg0: vcc5v0-otg0-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_otg0";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        gpio = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&vcc5v0_otg0_en>;
    };

    vcc5v0_otg1: vcc5v0-otg1-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_otg1";
        regulator-boot-on;
        regulator-always-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
    };
};

&cpu0 {
    cpu-supply = <&vdd_arm>;
};

&pwm0_4ch_0 {
    pinctrl-names = "active";
    pinctrl-0 = <&rm_io21_pwm0_ch0>;
    status = "okay";
};

/* PVTM calibration requires the board's thermal sensor. */
&tsadc {
    status = "okay";
};

/* UART0 serial console: 115200 baud. */
&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_xfer_pins>;
    status = "okay";
};

/* TX/RX only; RS485 transceiver direction control is not established. */
&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io3_uart3_rx &rm_io2_uart3_tx>;
    status = "okay";
};

&uart4 {
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io0_uart4_rx &rm_io8_uart4_tx>;
    status = "okay";
};

&spi1 {
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io26_spi1_csn0 &rm_io25_spi1_mosi
                 &rm_io27_spi1_clk &rm_io28_spi1_miso>;
    status = "okay";

    sd_slot: mmc-slot@0 {
        compatible = "mmc-spi-slot";
        reg = <0>;
        spi-max-frequency = <20000000>;
        voltage-ranges = <3300 3300>;
        broken-cd;
        no-1-8-v;
        vmmc-supply = <&vcc_3v3>;
        vqmmc-supply = <&vcc_3v3>;
    };
};

&can0 {
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io19_can0_tx &rm_io20_can0_rx>;
    assigned-clocks = <&cru CLK_CAN0>;
    assigned-clock-rates = <300000000>;
    status = "okay";
};

&can1 {
    pinctrl-names = "default";
    pinctrl-0 = <&rm_io17_can1_tx &rm_io18_can1_rx>;
    assigned-clocks = <&cru CLK_CAN1>;
    assigned-clock-rates = <300000000>;
    status = "okay";
};

&mmc {
    bus-width = <4>;
    cap-mmc-highspeed;
    mmc-hs200-1_8v;
    max-frequency = <150000000>;
    non-removable;
    no-sd;
    no-sdio;
    vmmc-supply = <&vcc_3v3>;
    vqmmc-supply = <&mmcio>;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins>;
    status = "okay";
};

&gmac0 {
    phy-mode = "rmii";
    clock_in_out = "input";
    snps,reset-gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;
    snps,reset-active-low;
    snps,reset-delays-us = <20000 20000 20000>;
    pinctrl-names = "default";
    pinctrl-0 = <&eth_rmii0_miim_pins &eth_rmii0_tx_bus2_pins
                 &eth_rmii0_rx_bus2_pins &eth_rmii0_clk_pins>;
    phy-handle = <&phy0>;
    status = "okay";
};

&mdio0 {
    phy0: ethernet-phy@0 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0>;
    };
};

&gmac1 {
    phy-mode = "rmii";
    clock_in_out = "input";
    snps,reset-gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;
    snps,reset-active-low;
    snps,reset-delays-us = <20000 20000 20000>;
    pinctrl-names = "default";
    pinctrl-0 = <&eth_rmii1_miim_pins &eth_rmii1_tx_bus2_pins
                 &eth_rmii1_rx_bus2_pins &eth_rmii1_clk_pins>;
    phy-handle = <&phy1>;
    status = "okay";
};

&mdio1 {
    phy1: ethernet-phy@0 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0>;
    };
};

&usb2phy {
    status = "okay";
};

&u2phy_otg0 {
    /delete-property/ rockchip,low-power-mode;
    vbus-supply = <&vcc5v0_otg0>;
    status = "okay";
};

&u2phy_otg1 {
    phy-supply = <&vcc5v0_otg1>;
    status = "okay";
};

/* Bring-up workaround: OTG role switching panics in gadget DMA mapping.
 * Keep the tested RAM-DTB disablement until that driver path is fixed.
 * The separate USB host controller and BootROM MASKROM recovery still work.
 */
&usb20_otg0 {
    dr_mode = "otg";
    status = "disabled";
};

&usb20_otg1 {
    dr_mode = "host";
    status = "okay";
};

&pinctrl {
    user-controls {
        run_led_pin: run-led-pin {
            rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        user_button_pin: user-button-pin {
            rockchip,pins = <1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    external-watchdog {
        external_watchdog_pin: external-watchdog-pin {
            rockchip,pins = <0 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    mmcio {
        mmcio_voltage_pin: mmcio-voltage-pin {
            rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    usb {
        vcc5v0_otg0_en: vcc5v0-otg0-en {
            rockchip,pins = <1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};

/* Use the external GPIO watchdog only. Internal reset coverage is untested. */
&wdt0 {
    status = "disabled";
};

&wdt1 {
    status = "disabled";
};
