# EC100 Nerves erlinit configuration
-c ttyS0
--warn-unused-tty
-s "/usr/bin/nbtty"
--update-clock
--shutdown-report /root/shutdown.txt
-e LANG=en_US.UTF-8;LANGUAGE=en;ERL_INETRC=/etc/erl_inetrc
-e ERL_CRASH_DUMP=/root/erl_crash.dump;ERL_CRASH_DUMP_SECONDS=5

# Persistent application filesystem. /data is a symlink to /root.
-m /dev/mmcblk0p3:/root:ext4:nodev:

-r /srv/erlang
-n ec100
--boot shoehorn
